%invisible {
  display: none;
  visibility: hidden;
}

.z {
  width: 100%;
}

.z,
.x.x _media screen,
.x.y _media screen,
.j {
  extend: %invisible;
}

.j _media screen {
  border: none;
}

.t {
  height: 2em;
  extend: .j
}